<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!--
    Document   : web.xml
    Created on : 6 de octubre de 2011, 15:09
    Author     : relisii
    Description:
        Purpose of the document follows.
-->
    <description>Beneficio S.A. Aplicacion Web</description>
    <display-name>Beneficio S.A. Aplicacion Web</display-name>
    <!-- Example filter to set character encoding on each request -->
    <!-- Define example application events listeners -->
    <context-param>
        <param-name>dcclient</param-name>
        <param-value>/usr/bin/dcclient</param-value>
    </context-param>
    <servlet>
        <servlet-name>setAccess</servlet-name>
        <servlet-class>servlets.setAccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertificadoServlet</servlet-name>
        <servlet-class>servlets.CertificadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CotizadorApServlet</servlet-name>
        <servlet-class>servlets.CotizadorApServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportPdf</servlet-name>
        <servlet-class>servlets.ReportPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportXls</servlet-name>
        <servlet-class>servlets.ReportXls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeudoresServlet</servlet-name>
        <servlet-class>servlets.DeudoresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaServlet</servlet-name>
        <servlet-class>servlets.ConsultaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TasaProvincialServlet</servlet-name>
        <servlet-class>servlets.TasaProvincialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpuestosServlet</servlet-name>
        <servlet-class>servlets.ImpuestosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VigenciaServlet</servlet-name>
        <servlet-class>servlets.VigenciaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActividadCategoriaServlet</servlet-name>
        <servlet-class>servlets.ActividadCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BonificacionServlet</servlet-name>
        <servlet-class>servlets.BonificacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropuestaServlet</servlet-name>
        <servlet-class>servlets.PropuestaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstadisServlet</servlet-name>
        <servlet-class>servlets.EstadisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndosoServlet</servlet-name>
        <servlet-class>servlets.EndosoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InterfaceServlet</servlet-name>
        <servlet-class>servlets.InterfaceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanServlet</servlet-name>
        <servlet-class>servlets.PlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpcionesServlet</servlet-name>
        <servlet-class>servlets.OpcionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetProductorServlet</servlet-name>
        <servlet-class>servlets.SetProductorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncuestaServlet</servlet-name>
        <servlet-class>servlets.EncuestaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaucionServlet</servlet-name>
        <servlet-class>servlets.CaucionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtaCteServlet</servlet-name>
        <servlet-class>servlets.CtaCteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreliquidacionServlet</servlet-name>
        <servlet-class>servlets.PreliquidacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionCobServlet</servlet-name>
        <servlet-class>servlets.GestionCobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenuevaServlet</servlet-name>
        <servlet-class>servlets.RenuevaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PortalServlet</servlet-name>
        <servlet-class>servlets.PortalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportPdfWeb</servlet-name>
        <servlet-class>servlets.ReportPdfWeb</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>setAccess</servlet-name>
        <url-pattern>/servlet/setAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertificadoServlet</servlet-name>
        <url-pattern>/servlet/CertificadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CotizadorApServlet</servlet-name>
        <url-pattern>/servlet/CotizadorApServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportPdf</servlet-name>
        <url-pattern>/servlet/ReportPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportXls</servlet-name>
        <url-pattern>/servlet/ReportXls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeudoresServlet</servlet-name>
        <url-pattern>/servlet/DeudoresServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaServlet</servlet-name>
        <url-pattern>/servlet/ConsultaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TasaProvincialServlet</servlet-name>
        <url-pattern>/servlet/TasaProvincialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpuestosServlet</servlet-name>
        <url-pattern>/servlet/ImpuestosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VigenciaServlet</servlet-name>
        <url-pattern>/servlet/VigenciaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActividadCategoriaServlet</servlet-name>
        <url-pattern>/servlet/ActividadCategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BonificacionServlet</servlet-name>
        <url-pattern>/servlet/BonificacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropuestaServlet</servlet-name>
        <url-pattern>/servlet/PropuestaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstadisServlet</servlet-name>
        <url-pattern>/servlet/EstadisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndosoServlet</servlet-name>
        <url-pattern>/servlet/EndosoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InterfaceServlet</servlet-name>
        <url-pattern>/servlet/InterfaceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanServlet</servlet-name>
        <url-pattern>/servlet/PlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpcionesServlet</servlet-name>
        <url-pattern>/servlet/OpcionesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetProductorServlet</servlet-name>
        <url-pattern>/servlet/SetProductorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncuestaServlet</servlet-name>
        <url-pattern>/servlet/EncuestaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaucionServlet</servlet-name>
        <url-pattern>/servlet/CaucionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtaCteServlet</servlet-name>
        <url-pattern>/servlet/CtaCteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreliquidacionServlet</servlet-name>
        <url-pattern>/servlet/PreliquidacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionCobServlet</servlet-name>
        <url-pattern>/servlet/GestionCobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenuevaServlet</servlet-name>
        <url-pattern>/servlet/RenuevaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PortalServlet</servlet-name>
        <url-pattern>/PortalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportPdfWeb</servlet-name>
        <url-pattern>/servlet/ReportPdfWeb</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <taglib>
            <taglib-uri>/tld/menu.tld</taglib-uri>
            <taglib-location>/tld/menu.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/jsp/pager-taglib.tld</taglib-uri>
            <taglib-location>/WEB-INF/jsp/pager-taglib.tld</taglib-location>
        </taglib>
    </jsp-config>
    <env-entry>
        <env-entry-name>ambiente</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>DES</env-entry-value>
    </env-entry>
    <!--  <resource-ref>
    <description>postgreSQL Datasource example</description>
    <res-ref-name>jdbc/postgres</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>-->
    <env-entry>
        <description>path del cliente dcclient</description>
        <env-entry-name>dcclient</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>/usr/bin/dcclient</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>path_file_dc</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>/opt/tomcat/webapps/benef/files/dc/</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>dc_server</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>dc_server</env-entry-value>
    </env-entry>
</web-app>
