<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>NOVEDADES EN NUESTRO SITIO WEB</title>
</head>
<body>
<table width="960" border="0">
  <tr>
    <td><img src="tem4.jpg" width="960" height="96" /></td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
  <tr>
      <td>
            <div align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 24px;">
                <p><font color="#003366" face="Arial, Helvetica, sans-serif"><strong>FIESTAS PATRONALES</strong></font></p>
           </div>
           <div align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
                <p><font face="Arial, Helvetica, sans-serif">Estimado colaborador:<br>
                        <br>
Queremos informarle que el próximo <b>viernes 7 de octubre se celebrarán las fiestas patronales en honor a Nuestra Señora del Rosario</b>, 
motivo por el cual la sede administrativa en Rosario trabajará únicamente con guardia, ante cualquier urgencia dirigirse por mail a:<br>
<a href='mailto:beneficio@beneficiosa.com.ar'>beneficio@beneficiosa.com.ar</a> o <a href='mailto:reclamos@beneficiosa.com.ar'>reclamos@beneficiosa.com.ar</a>
<br><br>
Sin más aprovechamos la oportunidad para saludarlo muy atte.
<br><br>
Victor Ficovich<br>
Presidente<br>
Beneficio S.A. Compañía de Seguros<br>
          </font></p>
           </div>
      </td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
  <tr>
    <td><img src="tem5.jpg" width="960" height="169" border="0" usemap="#Map" /></td>
  </tr>
</table>
<map name="Map" id="Map">
  <area shape="rect" coords="379,144,584,156" href="http://www.beneficioweb.com.ar/" />
</map>
<table width="966" border="0">
  <tr>
    <div align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 11px;color: #666666;">Ley 25.326, art. 27, inc. 3. El titular podr&aacute; en cualquier momento solicitar el retiro o bloqueo de sus nombres de los bancos de datos a los que se refiere el presente art&iacute;culo. <br />
    Decreto 1.558/01, art. 27, 3er. p&aacute;rrafo. En toda comunicaci&oacute;n con fines de publicidad que se realice por correo, tel&eacute;fono, correo electr&oacute;nico, internet u otro medio a distancia a conocer, se deber&aacute; indicar en forma expresa y destacada, la posibilidad del titular del dato de solicitar el retiro o bloqueo, total o parcial, de su nombre de la base de datos. A pedido del interesado, se deber&aacute; informar el nombre del responsable o usuario del banco de datos que provey&oacute; la informaci&oacute;n.</div></td>
  </tr>
</table>
</body>
</html>
Si no puede visualizar este mensaje haga <a href='http:\\www.beneficioweb.com.ar\images\template\novedades02.htm'>click aqui</a>
o copie el siguiente link en su navegador http:\\www.beneficioweb.com.ar\images\template\novedades03.htm

