<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>NOVEDADES EN NUESTRO SITIO WEB</title>
</head>
<body>
    <table width="720" border="0">
        <tr>
            <td align="center"><img src="tem44.jpg" border="0"/></td>
        </tr>
        <tr>
            <td height="20">&nbsp;</td>
        </tr>
        <tr>
            <td>
            <div align="center" style="font-family: Arial, Helvetica, sans-serif;font-size: 24px;">
                <p><font color="#003366" face="Arial, Helvetica, sans-serif"><strong>NOVEDADES</strong></font></p>
           </div>
           <div align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
                <p><font face="Arial, Helvetica, sans-serif">Estimado colaborador:
<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
En esta ocasi&oacute;n nos comunicamos con usted para recordarle que a partir del <b>1º de Junio de 2012 s&oacute;lo se recibir&aacute;n
preliquidaciones ingresadas a trav&eacute;s de nuestra p&aacute;gina web </b><a href="http://www.beneficioweb.com.ar">www.beneficioweb.com.ar</a>,
motivo por el cual no se enviar&aacute;n las mismas por mail en formato PDF, como suced&iacute;a hasta el momento.
<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Para acceder a su preliquidaci&oacute;n en la p&aacute;gina web deber&aacute; ingresar desde la <b>opci&oacute;n del men&uacute; Cobranza  --> Preliquidaci&oacute;n</b>.
Ud. podr&aacute; observar que se han hecho algunas modificaciones, como por ejemplo diferenciar mediante colores tres situaciones distintas:
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
- Cuotas impagas de preliquidaciones anteriores.
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
- Cuotas que vencen en la preliquidaci&oacute;n en la cual est&eacute; trabajando.
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
- Cuotas a vencer en el futuro.
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Los dos primeros casos corresponden a las cuotas que son exigibles y deber&aacute;n ser abonadas al vencimiento de la preliquidaci&oacute;n.
El &uacute;ltimo caso, es una posibilidad que se brinda para cuando se cobre alguna cuota por adelantado.
<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Finalmente, si usted a&uacute;n no ha utilizado nuestra p&aacute;gina web para productores,
le recordamos que puede solicitar su usuario y contraseña a su representante comercial.
<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Sin m&aacute;s queremos saludarlo y agradecer su confianza por esta a nuestro lado.
<br><br>
Victor Ficovich<br>
Presidente<br>
Beneficio S.A. Compañ&iacute;a de Seguros<br>
          </font></p>
           </div>
      </td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
</table>
<table width="720" border="0">
    <tr><td align="left">
    <div align="left" style="font-family: Arial, Helvetica, sans-serif;font-size: 11px;color: #666666;">
        Ley 25.326, art. 27, inc. 3. El titular podr&aacute; en cualquier momento solicitar el retiro o bloqueo
        de sus nombres de los bancos de datos a los que se refiere el presente art&iacute;culo. <br />
    Decreto 1.558/01, art. 27, 3er. p&aacute;rrafo. En toda comunicaci&oacute;n con fines de publicidad que se
    realice por correo, tel&eacute;fono, correo electr&oacute;nico, internet u otro medio a distancia a conocer,
    se deber&aacute; indicar en forma expresa y destacada, la posibilidad del titular del dato de solicitar el
    retiro o bloqueo, total o parcial, de su nombre de la base de datos. A pedido del interesado,
    se deber&aacute; informar el nombre del responsable o usuario del banco de datos que provey&oacute; la informaci&oacute;n.
    </div></td>
  </tr>
</table>
</body>
</html>
Si no puede visualizar este mensaje haga <a href='http:\\www.beneficioweb.com.ar\images\template\novedades11.htm'>click aqui</a>
o copie el siguiente link en su navegador http:\\www.beneficioweb.com.ar\images\template\novedades11.htm