<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Documento sin título</title>
<link href="http://littonpads.com/news/plantilla_institucional/style_benef.css" rel="stylesheet" type="text/css" />


<body bgcolor="#d9dadc">
<table bgcolor="#d9dadc" width="544" border="0" align="center">
<tr><td height="35" align="center"><span class="LEGALES">Si no puede visualizar correctamente este e-mail, haga </span><span class="LEGALES2"><a href="http://littonpads.com/news/plantilla_institucional/plantilla_mailing.html"> click aquí </a></span></td></tr>
                                          <td colspan="4">
                                          
                                          <table width="558" height="96" border="0" align="center" bgcolor="#d9dadc">
                                         <tr>
                                         <td width="310" height="96" valign="bottom"><a href="http://littonpads.com/index.general.php" target="_blank"><img src="http://littonpads.com/news/plantilla_institucional/imagenes/logo_beneficio.jpg" alt="BENEFICIO" width="259" height="101" border="0" align="left" longdesc="http://littonpads.com/index.general.php" /></a></td>
                                           <td align="right" width="164" height="96" valign="bottom">
                                           <p class="texto4"><a href="http://beneficioweb.com.ar" target="_blank">www.beneficioweb.com.ar</a>
                                           <br />
                                           <span class="LEGALES1">(011) 5236 - 4300</span></p></td>
                                          </tr>
    									  </table>
                                          <table width="558" height="534" border="0" align="center" background="http://littonpads.com/news/plantilla_institucional/imagenes/mailing_2.jpg" class="tabla">
                                            <tr>
      									  <td height="200" colspan="2" width="544" align="left" valign="top"></td>
      									  </tr>
    									  <tr>
    									    <td height="257" width="544" colspan="2" align="left" valign="top"><p class="titulo">Seguro de Alquileres de Beneficio</p>
                                            <p class="texto">Garantiza el pago mensual de Alquiler, el Depósito de Garantía o ambos, desde el momento... <strong><span class="LEGALESb"><a href="http://littonpads.com/news/plantilla_institucional/imagenes/FOLLETO_info.jpg" target="_blank" class="LEGALESb">+ INFO</a></span></strong><br />
                                            Suplanta una garantía privada. La aseguradora es garante...<strong><span class="LEGALESb"><a href="http://littonpads.com/news/plantilla_institucional/imagenes/FOLLETO_info.jpg" target="_blank" class="LEGALESb">+ INFO</a></span></strong><br />
                                            Requisitos mínimos. El costo alquiler más las expensas...<strong><span class="LEGALESb"><a href="http://littonpads.com/news/plantilla_institucional/imagenes/FOLLETO_info.jpg" target="_blank" class="LEGALESb">+ INFO</a></span></strong><br />
                                            Velocidad: en 48hs. puede obtener la garantía necesaria para alquilar.<br />
                                            Ahorra la incomodidad de solicitar favores a familiares o a terceros.<br />
                                            Se cubren arrendamientos urbanos privados y comerciales.<br />
                                            Es muy económico, un poco mas de 1/2 mes de alquiler por año...<strong><span class="LEGALESb"><a href="http://littonpads.com/news/plantilla_institucional/imagenes/FOLLETO_info.jpg" target="_blank" class="LEGALESb">+ INFO</a></span></strong><br />
                                            Se paga contra entrega de póliza con los medios habitualmente aceptados...<strong><span class="LEGALESb"><a href="http://littonpads.com/news/plantilla_institucional/imagenes/FOLLETO_info.jpg" target="_blank" class="LEGALESb">+ INFO</a></span></strong><br />
                                            Se debe Contratar un Seguro de AP x $100.000 con un costo de $13.00 x mes...<strong><span class="LEGALESb"><a href="http://littonpads.com/news/plantilla_institucional/imagenes/FOLLETO_info.jpg" target="_blank" class="LEGALESb">+ INFO</a></span></strong><br /></td>
  									      </tr>
                                          </table>
                                          <table width="544" border="0" align="center" bgcolor="#d9dadc">
										  <tr><td width="199" height="94" valign="top" align="left"><p class="texto2">Casa Central</p>
                <p class="dire">Av. Leandro N. Alem 530 - Piso 1
                					  (C1001AAN) Capital Federal <br />
										Telefax: (011) 5236-4300</p>
          <p class="texto3"><a href="mailto:casacentral@beneficiosa.com.ar" target="_blank"> casacentral@beneficiosa.com.ar </a></p></td>
      									  <td align="center" width="186" height="94" valign="top"><p class="texto2">Sede Administrativa</p>
                <p class="dire">Córdoba 1015 - Piso 2
                				Oficina 7 -  Rosario
                				(S2000AIJ) <br />
                                Telefax: (0341) 527-1071</p>
          <p class="texto3"><a href="mailto:beneficio@beneficiosa.com.ar" target="_blank"> beneficio@beneficiosa.com.ar </a></p></td>
      									  <td align="right" width="159" height="94" valign="top"><p class="texto2">Agencia Salta</p>
                <p class="dire">Av. Gral. M. Belgrano 808
											  (A4400AWT) Salta <br />
									  Telefax: (0387) 480-0830</p>
          <p class="texto3"><a href="mailto:salta@beneficiosa.com.ar" target="_blank"> salta@beneficiosa.com.ar </a></p></td>
          								 </tr>
										 </table>

                                        <table width="544" border="0" align="center" bgcolor="#d9dadc">
                                        <tr>
                                          <td width="544" align="center"><p class="LEGALES2"><strong>Ley 25.326 art 27 inciso 3ro</strong>: El titular podrá, en cualquier momento, solicitar el retiro o bloqueo de su nombre de los bancos de datos a los que se refiere el presente artículo.<br />
                                            <br />
                                            <strong>Decreto 1158/01 art 27 párrafo 3ro</strong>: En toda comunicación con fines de publicidad que se realice por correo, teléfono, correo electrónico, internet u otro medio a distancia a conocer, se deberá indicar, en   forma expresa y destacada, la posibilidad del titular del dato de solicitar el retiro o bloqueo, total o parcial, de su nombre de la base de datos. A pedido   del interesado, se deberá informar el nombre del responsable o usuario del banco de datos que proveyó la información.</p>
                                          <p class="LEGALES2">Si no desea recibir esta información por favor haga <a href="%unsus_url%">click aquí</a></p></td>
                                       </tr>
										</table>
                                        </td>
</table>
</body>
</html>
